* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg) /* CSS variable for our background color --> to avoid typing color name repeatedly */
}

a {
    color: unset;
    text-decoration: none;
}

/* adding gradient --> using tool angrytools.com/gradient/ */
.gradient__bg {
      /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 23% 0%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 61%, rgba(4, 12, 24, 1) 93%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 23% 0%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 61%, rgba(4, 12, 24, 1) 93%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 23% 0%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 61%, rgba(4, 12, 24, 1) 93%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 23% 0%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 61%, rgba(4, 12, 24, 1) 93%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 23% 0%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 61%, rgba(4, 12, 24, 1) 93%);
}

/*class for gradient text*/
.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

/*style for sections*/
.section__padding {
    padding: 4rem 6rem;
}
.section__margin {
    margin: 4rem 6rem;
}

/*custom CSS Animations using tool --> animista.net*/

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
  }

  @media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
  }

.gradient__whatgpt3{
     /* ff 3.6+ */
     background:-moz-radial-gradient(circle at 5% 0%, rgba(15, 66, 121, 1) 7%, rgba(4, 44, 84, 1) 80%, rgba(4, 44, 84, 1) 90%);

     /* safari 5.1+,chrome 10+ */
     background:-webkit-radial-gradient(circle at 5% 0%, rgba(15, 66, 121, 1) 7%, rgba(4, 44, 84, 1) 80%, rgba(4, 44, 84, 1) 90%);
 
     /* opera 11.10+ */
     background:-o-radial-gradient(circle at 5% 0%, rgba(15, 66, 121, 1) 7%, rgba(4, 44, 84, 1) 80%, rgba(4, 44, 84, 1) 90%);
 
     /* ie 10+ */
     background:-ms-radial-gradient(circle at 5% 0%, rgba(15, 66, 121, 1) 7%, rgba(4, 44, 84, 1) 80%, rgba(4, 44, 84, 1) 90%);
 
     /* global 92%+ browsers support */
     background:radial-gradient(circle at 5% 0%, rgba(15, 66, 121, 1) 7%, rgba(4, 44, 84, 1) 80%, rgba(4, 44, 84, 1) 90%);
}